{% extends '::base.html.twig' %}

{% block contenido %}
    <div class="row">
      <div class="col-md-3 col-md-offset-9">
          <p><a href="{{ path('usuario_ofertas', {'id': app.user.id}) }}" class="btn btn-default"><< Volver</a></p>
      </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3 col-md-offset-3">
            <label class="required" for="">
                Producto
            </label>
            <div class="col-md-12">
                <a href="{{ path('producto_show', {'id': entity.producto.id}) }}">{{ entity.producto }}</a>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label class="required" for="">
                Fecha
            </label>
            <div class="col-md-12">
                {{ entity.fecha|date('d/m/Y') }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-3 col-md-offset-3">
            <label class="required" for="">
                Monto
            </label>
            <div class="col-md-12">
                ${{ entity.monto }}
            </div>
        </div>
        <div class="form-group col-md-3">
            <label class="required" for="">
                Necesidad
            </label>
            <div class="col-md-12">
                {{ entity.necesidad }}
            </div>
        </div>
    </div>
{% endblock %}
