{% extends '::base.html.twig' %}

{% block javascripts %}

    {{ parent() }}

   <script type="text/javascript">
        $(document).ready(function(){
            $('.pagination-detail').hide();
        });
    </script>

    <script type="text/javascript">
        function eliminar(href){       
            $('#formEliminar').attr("action", href);
            $('#modalConfirmarEliminar').modal('show');
        };
    </script>

{% endblock %}

{% block modals %}
    <div class="modal fade" id="modalConfirmarEliminar" tabindex="-1" role="dialog" 
     aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Eliminación de Producto</h4>
                </div>
                <div class="modal-body bg-danger">
                    <p class="text-justify">
                    Se eliminará el producto entero.</p>
                    <p class="text-justify"><strong>Esta acción no tiene vuelta atrás</strong></p>
                </div>
                <div class="modal-footer bg-danger" style="margin-top:0;">
                    <!-- <form name="formEliminar" id="formEliminar" action=""
                        method="post">
                        <input type="hidden" name="_method" value="DELETE"></input>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Realizar</button>
                        <input type="hidden" id="formEliminar__token" name="formEliminar[_token]" value="c44b0698d13a80f82f2096d7bf80ce7f25d97399"></input>
                    </form> -->
                    {{ form_start(delete_form, {'attr': {'id': 'formEliminar'}}) }}
                        <div class="col-md-6 col-md-offset-6" style="margin-top: 30px;">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
                        </div>
                        {{ form_rest(delete_form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block contenido %}
    
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
        <div class="table-responsive">
            <table data-toggle="table" data-classes="table table-striped" data-sort-name="fechafin" data-pagination="true" data-search="true" data-search-align="left">
                <thead>
                    <tr>
                        <th data-align="center" data-sortable="true">Título</th>
                        <th data-field="fechafin" data-align="center" data-sortable="true">Fecha de finalización</th>
                        <th data-align="center" data-sortable="true">Categoría</th>
                        <th data-align="center"> </th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.titulo }}</td>
                        <td>{{ entity.fechafin|date('d/m/Y') }}</td>
                        <td>{{ entity.categoria }}</td>
                        <td>
                            <a class="ver" href="{{ path('producto_show', { 'id': entity.id }) }}">
                                <i class="glyphicon glyphicon-eye-open"></i>
                            </a>
                            {% if app.user %}
                                {% if app.user.id == entity.usuario.id %}
                                    <a class="modificar" style="margin-left: 5px;" href="{{ path('producto_edit', {'id': entity.id}) }}">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </a>
                                    <a class="eliminar" style="margin-left: 5px;" href="{{ path('producto_delete', {'id': entity.id}) }}" onclick="eliminar($(this).attr('href'));return false;">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr class="danger">
                        <td colspan="6">
                            No hay datos para mostrar.
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>

{% endblock %}
