{% extends '::base.html.twig' %}

{% block contenido %}
    
    <div class="row">

        <div class="col-md-6" style="float: left;">
            <img alt="Fotografía del producto" src="{{ asset(directorio_imagenes ~ entity.rutaFoto) }}" class="img-responsive" />
        </div>

        <h2>{{ entity.titulo|title }}</h2>
        <article class="small text-muted">{{ entity.usuario }} - Finaliza el {{ entity.fechafin|date('d/m/Y') }}</article>
        <br>

        <div class="text-justify">
            <article>{{ entity.descripcion|capitalize }}</article>
        </div>

    </div>

{% endblock %}
