{% extends '::base.html.twig' %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
        function eliminar(){       
            $('#modalConfirmarEliminar').modal('show');
        };
    </script>

{% endblock %}

{% block modals %}
    <div class="modal fade" id="modalConfirmarEliminar" tabindex="-1" role="dialog" 
     aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Eliminación de Producto</h4>
                </div>
                <div class="modal-body bg-danger">
                    <p class="text-justify">
                    Se eliminará el producto entero.</p>
                    <p class="text-justify"><strong>Esta acción no tiene vuelta atrás</strong></p>
                </div>
                <div class="modal-footer bg-danger" style="margin-top:0;">
                    {{ form_start(delete_form, {'attr': {'id': 'formEliminar'}}) }}
                        <div class="col-md-6 col-md-offset-6" style="margin-top: 30px;">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
                        </div>
                        {{ form_rest(delete_form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block contenido %}

    <div class="row">
        <div class="col-md-3 col-md-offset-9">
            <p><a href="{{ path('default') }}" class="btn btn-default"><< Volver</a></p>            
        </div>
    </div>
    
    <div class="row">

        <div class="col-md-5" style="float: left;">
            <img alt="Fotografía del producto" src="{{ asset(directorio_imagenes ~ entity.rutaFoto) }}" class="img-responsive" />
        </div>

        <h2>{{ entity.titulo|title }}</h2>
        <article class="small text-muted">{{ entity.categoria }} - Finaliza el {{ entity.fechafin|date('d/m/Y') }}</article>
        <br>

        <div class="text-justify">
            <article>{{ entity.descripcion|capitalize }}</article>
        </div>

    </div>

    <!-- si inicio sesion -->
    {% if app.user %}
        
        <!-- si es el dueño -->
        {% if app.user.id == entity.usuario.id %}
            <br>
            {% if entity.fechafin|date('d/m/Y') < 'now'|date('d/m/Y') and ofertas|length == 0 and not entity.ofertaganadora %}
                <div class="row">
                    <div class="col-md-3">
                        <a href="{{ path('producto_edit', {'id': entity.id}) }}" class="btn btn-success">Modificar</a>
                        <a href="{{ path('producto_delete', {'id': entity.id}) }}" onclick="eliminar();return false;" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
                <br>
            {% endif %}

            {% if not entity.ofertaganadora %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table data-toggle="table" data-classes="table table-striped" data-sort-name="fecha" data-pagination="true">
                                <thead>
                                    <tr>
                                        <th data-field="fecha" data-align="center" data-sortable="true">Fecha</th>
                                        <th data-align="center">Necesidad</th>
                                        <th data-align="center"> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for oferta in ofertas %}
                                    <tr>
                                        <td>{{ oferta.fecha|date('d/m/Y') }}</td>
                                        <td>{{ oferta.necesidad }}</td>
                                        {% if entity.fechafin|date('d/m/Y') > 'now'|date('d/m/Y') %}
                                            <td>
                                                <a class="btn btn-success" href="{{ path('seleccionar_oferta', { 'id': entity.id , 'oi': oferta.id }) }}">
                                                    Seleccionar
                                                </a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% else %}
                                    <tr class="danger">
                                        <td colspan="6">
                                            No hay ofertas.
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% else %}
                <h2>Oferta Ganadora</h2>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table data-toggle="table" data-classes="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Usuario</th>
                                        <th>Monto</th>
                                        <th>Necesidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ entity.ofertaganadora.fecha|date('d/m/Y') }}</td>
                                        <td>{{ entity.ofertaganadora.usuario }}</td>
                                        <td>${{ entity.ofertaganadora.monto }}</td>
                                        <td>{{ entity.ofertaganadora.necesidad }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            {% endif %}

        <!-- si no es el dueño -->
        {% else %}
            <br>
            <br>
            {% if entity.fechafin|date('d/m/Y') < 'now'|date('d/m/Y') %}
                <form action="{{ path('oferta_create') }}" method="post" {{ form_enctype(oferta_form) }} id="form" role="form">
                    
                    <div class="row">
                        <div class="form-group col-md-3">              
                            <div class="input-group col-md-12">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                                {{ form_widget(oferta_form.monto, { 'attr': {'class': 'form-control', 'placeholder': 'Monto'} }) }} 
                            </div>
                            <div class="text-danger">
                                {{ form_errors(oferta_form.monto) }}
                            </div>
                        </div>
                        <div class="form-group col-md-6">              
                            <div class="input-group col-md-12">
                                {{ form_widget(oferta_form.necesidad, { 'attr': {'class': 'form-control', 'placeholder': 'Necesidad'} }) }}
                            </div>
                            <div class="text-danger">
                                {{ form_errors(oferta_form.necesidad) }}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-success">Ofertar</button>                        
                        </div>
                    </div>
                    {{ form_rest(oferta_form) }}
                    
                </form>
            {% else %}
                <h2>Subasta finalizada</h2>
            {% endif %}
            
        {% endif %}
    {% endif %}
    <br>
    <br>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Preguntas</h3>
        </div>
        <div class="panel-body">
             
            {% set i = 0 %}  
            {% for pregunta in preguntas %}
                <dl>
                    <dt>
                        <span class="glyphicon glyphicon-user"><strong> -{{ pregunta.descripcion }}</strong></span><br /><br />                     
                    </dt>
                    {% if pregunta.respuesta %}
                        <dd>
                            <span>- {{ pregunta.respuesta }}</span>
                        </dd>
                    {% else %}

                        {% if app.user %}
                            {% if app.user.id == entity.usuario.id %}
                                <div class="row">
                                    <form action="{{ path('respuesta_create') }}" method="post" {{ form_enctype(formularios[i]) }} id="resform_{{ pregunta.id }}" role="form" >
                                        <div class="form-group col-md-10">
                                            <div class="input-group col-md-12">
                                                {{ form_widget(formularios[i].descripcion , {'attr': { 'class': 'form-control', 'placeholder': 'Respuesta:'}}) }}        
                                            </div>

                                        </div>

                                        {{ form_row(formularios[i].pregunta, {'value': pregunta.id}) }}
                                        <div class="form-group col-md-1">
                                            <div class="input-group col-md-12">
                                                <button type="submit" class="btn btn-primary">Responder</button>
                                            </div>
                                        </div>        
                                        {{ form_rest(formularios[i]) }}           
                                    </form>
                                </div>
                            {% endif %}
                        {% endif %}

                    {% endif %}
                </dl>
                {% set i = i + 1 %}
                <hr>
            {% else %}
                <h3>No hay ninguna pregunta</h3>     
            {% endfor %}  
            <br /><br />                      
        </div>
    </div>  

    <!-- si inicio sesion -->
    {% if app.user %}
        {% if app.user.id != entity.usuario.id %}
            <div class="row">
                <form action="{{ path('pregunta_create') }}" method="post" {{ form_enctype(pregunta_form) }} role="form" >
                    <div class="form-group col-md-11">
                        <div class="input-group col-md-12">
                            
                            {{ form_widget(pregunta_form.descripcion , {'attr': { 'class': 'form-control', 'placeholder': 'Has una pregunta!'}}) }}        
                        </div>

                    </div>
                    <div class="form-group col-md-1">
                        
                        <div class="input-group col-md-12">
                            <button type="submit" class="btn btn-primary" >ENVIAR</button>
                        </div>
                    </div>        
                    {{ form_rest(pregunta_form) }}           
                </form>
            </div>
        {% endif %}
    {% endif %}    

{% endblock %}
