{% extends '::base.html.twig' %}

{% block contenido %}
    
    <div class="row">

        <div class="col-md-5" style="float: left;">
            <img alt="Fotografía del producto" src="{{ asset(directorio_imagenes ~ entity.rutaFoto) }}" class="img-responsive" />
        </div>

        <h2>{{ entity.titulo|title }}</h2>
        <article class="small text-muted">{{ entity.categoria }} - Finaliza el {{ entity.fechafin|date('d/m/Y') }}</article>
        <br>

        <div class="text-justify">
            <article>{{ entity.descripcion|capitalize }}</article>
        </div>

    </div>

    {% if app.user %}
        {% if app.user.id == entity.usuario.id %}
            <br>
            <div class="row">
                <div class="col-md-3">
                    <a href="{{ path('producto_edit', {'id': entity.id}) }}" class="btn btn-danger">Modificar</a>
                </div>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
